snippet snip "Setup for a new snippet" m
snippet $1 "$2" $3
$4
endsnippet $0
endsnippet

snippet today "Prints today's date" i
`date +%F`
endsnippet 

snippet sign "Print signature" 
Yours,
Nicholas Brock
endsnippet 
